.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card-manager {
  padding:30px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 10px;
  background-color: #5669e4;
  color: white;
}

.totalScore {
  color: #ff5656;
}
