.container{
  text-align: center;
}

h1{
  margin-top: 20px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1;
}

.table{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}

@media screen and (max-width: 700px){
  .table{
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

button{
  margin: 1rem;
}
