<div class="hero">
  <div class="content">
    <div class="text-content">
      <h1>BIENVENIDO A CINEPLANET</h1>
      <h2>¡Donde cada película se convierte en una aventura!</h2>
      <p>Explora una experiencia cinematográfica única con nosotros.
        En Cineplanet, nos dedicamos a ofrecerte lo mejor del séptimo arte, desde los últimos estrenos hasta clásicos atemporales.
        Descubre nuestras cómodas salas, tecnología de vanguardia y una amplia variedad de snacks y bebidas para disfrutar mientras
        te sumerges en la magia del cine. ¡Bienvenido a un mundo de emociones en pantalla grande!</p>
    </div>
  </div>
</div>

