<div class="pepito">
  <h1>Create Offer Form</h1>
  <div class="table-wrapper">
    <form (submit)="createOffer()" #tourForm="ngForm" class="offer-form" [formGroup]="myForm">

      <div class="form-row">
        <label class="label-text">Title:</label>
        <mat-form-field appearance="outline" class="form-field">
          <input

            matInput
            placeholder="Enter title"
            name="title"
            required
            [(ngModel)]="offerToCreate.title"
            class="input-field"
            formControlName="title"


          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <label class="label-text">Description:</label>
        <mat-form-field appearance="outline" class="form-field">
          <input
            matInput
            placeholder="Enter description"
            name="description"
            required
            [(ngModel)]="offerToCreate.description"
            class="input-field"
            formControlName="description"

          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <label class="label-text">Points:</label>
        <mat-form-field appearance="outline" class="form-field">
          <input
            type="number"
            matInput
            placeholder="Enter points"
            name="points"
            required
            [(ngModel)]="offerToCreate.points"
            class="input-field"
            formControlName="points"
          />
        </mat-form-field>
      </div>

      <div class="form-row">
        <label class="label-text">Business ID:</label>
        <mat-form-field appearance="outline" class="form-field">
          <input
            matInput
            placeholder="Enter business ID"
            name="businessId"
            required
            [(ngModel)]="offerToCreate.businessId"
            class="input-field"
            formControlName="userId"


          />
        </mat-form-field>
      </div>

    </form>
  </div >
  <div class="buttons">
  <button mat-fab extended class="button" (click)="createOffer()">
    Create
    <mat-icon>create</mat-icon>

  </button>
  <button mat-fab extended class="button" (click)="cancelEdit()">
    Cancel
    <mat-icon>cancel</mat-icon>
  </button>
    </div>
</div>

