@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

h1{
  text-align: center;
  font-family: Roboto, sans-serif;
  color: rgb(23,71,145);
  font-weight: bold;
  font-size: 4em;
  padding: 50px 0;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

}

form{
  width: 90%;
  margin: 0 auto;
}

.tabla{
  width: 90%;
  margin: 0 auto;
}

.cell-image{
  padding-top: 7px;
}
