.table-wrapper {
  display: flex;
  justify-content: center;
}

.offer-form {
  width: 100%;
  max-width: 400px; /* ajusta el ancho máximo según tus necesidades */
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px; /* ajusta el margen inferior según tus necesidades */
}

.label-text {
  width: 120px; /* ajusta el ancho de las etiquetas según tus necesidades */
  text-align: right; /* alinea el texto de las etiquetas a la derecha */
  margin-right: 16px; /* ajusta el margen derecho según tus necesidades */
}

.input-field {
  flex: 1; /* el campo de entrada ocupa todo el espacio restante */
}

h1 {
  text-align: center;
  margin: 20px auto ;
}

.pepito{
  background-color: white;
}
.button {
  margin-top: 20px; /* Aumenta el margen superior */
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px; /* Ajusta el tamaño del texto del botón */
  padding: 15px 30px; /* Ajusta el padding para hacer el botón más grande */
  text-align: center; /* Centra horizontalmente el texto dentro del botón */
  line-height: normal; /* Restaura la altura de línea normal para evitar desplazamientos */
  width: 200px; /* Ancho del botón */
  height: 100px;
  background-color: bisque;
  color: black;
}
.buttons{
  display: flex;

}
h1 {
  padding-left: 30px;
  text-align: center;
  margin: 30px auto 40px;
  font-size: 40px;

}


.label-text {
  width: 120px; /* Ancho del label */
  text-align: right; /* Alinea el texto del label a la derecha */
  margin-right: 16px; /* Añade un margen a la derecha del label */
  font-size: 18px; /* Tamaño del texto del label */
}

