.table-wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: beige;
}
table {
  width: 100%;
}

input {color: black}

tr.editable-row {
  background-color: yellow;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

form {
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px 15px 0 0;
}
.holi{
  color: #d7a55d;
}
.custom-snackbar {
  font-size: 20px;
}
h2{
  font-size: 25px;
}
h1{
  font-size: 50px;
  margin: 20px auto;
}
.h2{
  display: flex;
  margin: 20px auto 20px;
  justify-content: space-around;
  width: 30%;

}
.button{
  background-color: #d7a55d;
}
