.spacer {
  flex: 1 1 ;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  padding-right: 90px;
}
.button{
  margin: 20px;

}
.mat-button{
  padding-right: 100px;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 25px;
}

.img-div img {
  filter: invert(1);
}
.mat-toolbar{
  background-color: bisque;
}
