.notfound-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color:darkred;
  background-color: #f5f5f5;
}
.notfound-page button{
  margin-top: 20px;
  padding: 20px 60px;
  border-radius: 25px;
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}
