.mat-toolbar{
  display: flex;
  justify-content: space-between;
}

.section-controller{
  display: flex;
  gap: 1rem;
}

span:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
  color:purple;
}

.logo {
  height: 20px;
}
