.example-card {
  width: 100%; /* Opcional: asegura que las tarjetas ocupen todo el ancho disponible */
  max-width: 80vh; /* Limita el ancho máximo de las tarjetas */
  margin: auto;
  text-align: center;
}

.container-cards{
  height:100vh;
}
