<p>list-movies-view works!</p>
<h1 aria-label="Tabla de Películas">Cartelera</h1>

<div class="mat-form-field">
  <form [formGroup]="movies" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="name">
      @if (movies.get('name')?.hasError('required')){
        <mat-error>Name Movie is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="image">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="duration">
      @if (movies.get('duration')?.hasError('required')){
        <mat-error>Duration is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="genre">
      @if (movies.get('genre')?.hasError('required')){
        <mat-error>Genre is required</mat-error>
      }
    </mat-form-field>

    @if(isEditMode){
      <button mat-flat-button color="primary" type="submit" aria-label="Actualizar película">Update</button>
      <button mat-flat-button color="warn" (click)="cancelEdit()" aria-label="Cancelar edición">Cancel</button>
    }
    @else {
      <button mat-flat-button color="primary" type="submit" aria-label="Añadir nueva película">New</button>
    }
  </form>
</div>

<div class="tabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.image" alt="{{element.name}} Image" width="100" height="150">
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Genre Column -->
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container class="ng-container" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="example-flex-container">
          <button mat-icon-button color="" type="button" (click)="editMovie(element)" aria-label="Editar película">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="deleteMovie(element)" aria-label="Eliminar película">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator showFirstLastButtons
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Seleccionar página">
  </mat-paginator>


</div>



