 <mat-card class="example-card" style=" width: 500px; margin: 10px;" *ngFor="let task of tasks">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title  > {{task.firstName}} {{task.lastName}}</mat-card-title>
      
      <mat-card-subtitle>Center ID{{task.centerId}}  Rank: {{task.ranking}}</mat-card-subtitle>
      
    </mat-card-header>
    <img mat-card-image src={{task.photoUrl}} alt="Photo of a Shiba Inu" style="width: 250px;">
    <mat-card-content>
            <p> RECORD TIME : {{task.recordTime}}</p>

    </mat-card-content>
 
  </mat-card>

   